# sdictrc configuration file for Sdict

# Directories in which search dictionaries
search /usr/share/dict
search /usr/local/share/dict
search ~/.dict

# Cache directory store dictionary cache.
# It must be exists.
cachedir ~/.dict

# Do not append translated text to the 
# end of output, clear instead.
#autoclear 1

# GUI options
# Available fonts are:
# fixed, times, courier, helvetica
#font fixed
#fontsize 10
